<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.souza.home" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name=".presentation.HomeActivity"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>
